{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class=" text-dark active ms-2 fs-4" aria-current="page">
          {% if request.path == '/' %} / Dashboard {% else %} {{ request.path|title }} {% endif %}
        </li>
      </ol>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 " id="navbar">

      <ul class="navbar-nav  justify-content-end ">

        {% if request.user.is_authenticated %}
          <li class="nav-item d-flex align-items-center">

            {% if request.user.is_superuser %}
            <a href="{% url 'loginuser' %}" class="nav-link text-body font-weight-bold px-0 fs-2">
            {% else %}
            <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0 fs-2">
            {% endif %}

              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none me-3 fs-2 text-primary">Admin</span>
            </a>
          </li>
        {% else %}
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'loginuser' %}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none me-3 fs-2">Sign In</span>
            </a>
          </li>
        {% endif %}

        <li class="nav-item d-flex align-items-center">

          {% if request.user.is_superuser %}
          <a href="{% url 'admin:password_reset' %}" class="nav-link text-body font-weight-bold px-0">
          {% else %}
          <a href="{% url 'password_reset' %}" class="nav-link text-body font-weight-bold px-0">
          {% endif %}
            <span class="d-sm-inline d-none me-3 fs-4">Change Password</span>
          </a>
        </li>
        {% if request.path == '/' %}
        <li class="nav-item d-flex align-items-center">
            <a href="{% url 'data' %}" class="nav-link text-body font-weight-bold px-0">
            <span class="d-sm-inline d-none me-3 fs-4 text-success text-decoration-underline">Sentimnet Analysis link.</span>
          </a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
