{% load i18n static admin_soft %}

<aside
    class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-primary"
    id="sidenav-main"
>
    <div class="sidenav-header">
        <i
            class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
            aria-hidden="true"
            id="iconSidenav"
        ></i>
        <a class="navbar-brand m-0" href="{% url 'admin:index' %}">
            <span class="ms-1 font-weight-bold fw-bold fs-3 text-light"
                >Analytics</span
            >
        </a>
        <a class="navbar-brand m-0" href="{% url 'loginuser' %}">
            <span class="ms-1 font-weight-bold fw-bold fs-3 text-light"
                >Login</span
            >
        </a>
        <a class="navbar-brand m-0" href="{% url 'index' %}">
            <span class="ms-1 font-weight-bold fw-bold fs-3 text-light"
                >Home</span
            >
        </a>
    </div>
</aside>
